@using TechRentingSystem.Models.Cameras
@model TechRentingSystem.Models.Cameras.AllCameraQueryModel


<form method="get">
    <div class="row mb-5">
        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="Brand"></label>
                <select asp-for="Brand" class="form-control">
                    <option value="">All</option>
                    @foreach (var brand in Model.Brands)
                    {
                        <option value="@brand">@brand</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="searchTerm"></label>
            <input asp-for="searchTerm" class="form-control" placeholder="Canon,Nikon...">
        </div>
        
        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0">Year</option>
                    <option value="1">Brand And Model</option>
                </select>
            </div>
        </div>
    </div>

</form>


@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalCameras / AllCameraQueryModel.CameraPerPage);
}

<div class="row mb-5">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Camera"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-brand="@Model.Brand"
           asp-route-searchTerm="@Model.searchTerm"
           asp-route-sorting="@((int)Model.Sorting)"><<</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary float-right @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)"
           asp-controller="Camera"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-brand="@Model.Brand"
           asp-route-searchTerm="@Model.searchTerm"
           asp-route-sorting="@((int)Model.Sorting)">>></a>
    </div>
</div>

<div class="row">
    @foreach (var camera in Model.Cameras)
    {
      
            <div class="col-lg-4 col-md-7">
                <div class="row p-2">
                    <div class="col-12  p-1" style="border:1px solid #008cba; border-radius: 5px;">
                        <div class="card" style="border:0px;">
                            <img src="@camera.ImageUrl" class="card-img-top rounded" />
                            <div class="pl-1">
                                <p class="card-title h5"><b style="color:#2c3e50">@camera.Brand</b></p>
                           @*     <p class="card-title text-primary">by <b>@camera.Author</b></p>*@
                            </div>
                            <div style="padding-left:5px;">
                                <p>Old Price: <strike><b class="">@camera.Price lv</b></strike></p>
                            </div>
                            <div style="padding-left:5px;">
                                <p style="color:maroon">As low as: <b class="">$@camera.Price.ToString("0.00")</b></p>
                            </div>
                        </div>
                        <div>
                        <a asp-action="Details" class="btn btn-primary form-control" asp-route-productId="@camera.Id">Details</a>
                        </div>
                    </div>
                </div>
            </div>
       
    }
</div>