@using CameraShop.Infrastructure.Data.Models

@model ShoppingCart


<form method="post">
    <input hidden asp-for="@Model.CameraId" />
    <div class="container backgroundWhite">
        <div class="card">
            <div class="card-header bg-light text-light ml-0 row container">
                <div class="col-12 col-md-6">
                    <h1 class="text-primary">@Model.Camera.Brand</h1>
                </div>
                <div class="col-12 col-md-6 text-md-right pt-4">
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-8 col-lg-8">

                            <div class="row pl-2">
                                <h5 class="text-muted">Model : @Model.Camera.Model</h5>
                            </div>
                           @* <div class="row pl-2">
                                <h5 class="text-muted pb">Old Price: <strike>@Model.Camera.Price.ToString("c")</strike></h5>
                            </div>*@
                           
                            <div class="row text-center pl-2" style="color:maroon; font-weight:bold">
                                <div class="p-1 col-2 ">
                                    <div>Price</div>
                                </div>
                                <div class="p-1 col-2 ">
                                    <div>@Model.Camera.Price.ToString("c")</div>
                                </div>
                            </div>
                            <div class="row pl-2">
                                <p class="text-secondary">@Model.Camera.Description</p>
                            </div>
                            <div class="row pl-2">
                                <div class="col-2 text-primary"><h4>Count</h4></div>
                                <div class="col-10"><input class="form-control" asp-for="Count" /></div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 offset-lg-1 text-center">
                            <img src="@Model.Camera.ImageUrl" width="100%" class="rounded" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-6 pb-1">
                        <a asp-action="Index" class="btn btn-success form-control  btn-square btn-lg" style="height:50px;">Back to List</a>
                    </div>
                    <div class="col-12 col-md-6 pb-1">
                        <input class="btn btn-primary" type="submit" value="Add to Cart" />
                    </div>
                    <a asp-controller="Review" asp-action="CreateReview" asp-route-productId="@Model.CameraId" type="button" class="btn btn-block btn-primary btn-lg">Add Review</a>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class=" col-12">
        <div class="card card-indigo">
            <div class="card-header">
                <h3 class="card-title">Reviews</h3>
            </div>
            <div class="card-body" style="height: 450px; overflow-y: scroll">
                <div class="container my-3 py-3">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-12 col-lg-10 col-xl-8">
                            @foreach (var review in Model.Camera.Reviews)
                            {
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex flex-start align-items-center">
                                            <div>
                                                <h6 class="fw-bold text-primary mb-1">@review.ApplicationUser.FirstName @review.ApplicationUser.LastName</h6>
                                                <p class="text-muted small mb-0">
                                                    Shared review - @review.DateOfPublication
                                                </p>
                                            </div>
                                        </div>
                                        <p class="mt-3 mb-4 pb-2">
                                            <div class="form-group">
                                                @for (int i = 0; i < review.Rating; i++)
                                                {
                                                    <i class="bi bi-star-fill"></i>

                                                }
                                                <strong>@review.Rating </strong>
                                            </div>
                                        </p>
                                        <p class="mt-3 mb-4 pb-2">
                                            @review.Comment
                                        </p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}	</div>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

