@model OrderDetailsVM
@using CameraShop.Core.Models.Order
@using Microsoft.Extensions.Options
@using TechRentingSystem.Infrastructure
@inject IOptions<CameraShop.Core.Models.StripeSettings> Stripe

<form method="post">
    <input hidden asp-for="OrderHeader.Id" />
    <br />
    <div class="backgroundWhite container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0 row container">
                <div class="col-12 d-none d-md-block col-md-6 pb-1">
                    <i class="fas fa-shopping-cart"></i> &nbsp; Order Summary
                </div>
                <div class="col-12 col-md-4 offset-md-2 text-right">
                    <a asp-area="Admin" asp-controller="Order" asp-action="Index" class="btn btn-outline-info form-control btn-sm">Back to Orders</a>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">PickUp Details:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Name</div>
                                <div class="col-9">
                                    @if (User.IsInRole(RoleConstants.Admin))
                                    {
                                            <input asp-for="OrderHeader.FirstName" type="text" class="form-control" />
                                            <span asp-validation-for="OrderHeader.FirstName" class="text-danger"></span>
                                    }
                                    else
                                    {
                                            <input asp-for="OrderHeader.FirstName" type="text" class="form-control" readonly />
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-primary">Order Summary</span>
                            </h4>
                            <ul class="list-group mb-3">
                                @foreach (var details in Model.OrderDetails)
                                {
                                        <li class="list-group-item d-flex justify-content-between p-2">
                                            <div class="row container">
                                                <div class="col-8">
                                                    <input type="hidden" asp-for="@details.Id" />
                                                    <h6 class="my-0 text-primary">@details.Product.Brand</h6>
                                                    <small class="text-muted">Price : @details.Price</small><br />
                                                    <small class="text-muted">Quantity : @details.Count</small>
                                                </div>
                                                <div class="col-4">
                                                    <p class="text-success">@(String.Format("{0:C}", details.Count * details.Price))</p>
                                                </div>
                                            </div>
                                        </li>
                                }
                                <li class="list-group-item bg-info">
                                    <div class="row container">
                                        <div class="col-6">
                                            <h5 class="text-white">TOTAL </h5>
                                        </div>
                                        <div class="col-6 text-right">
                                            <h5 class="text-white">@(String.Format("{0:C}", Model.OrderHeader.OrderTotal))</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            @if (User.IsInRole(RoleConstants.Admin))
                            {
                                    <br />
                                @if (Model.OrderHeader.OrderStatus == SD.StatusApproved)
                                {
                                            <a asp-action="StartProcessing" asp-route-id="@Model.OrderHeader.Id"
                                       class="btn btn-primary form-control">Start Processing</a>
                                }
                                @if (Model.OrderHeader.OrderStatus == SD.StatusInProcess)
                                {
                                            <input type="submit" value="Ship Order" onclick="return validateInput()"
                                           class="btn btn-primary form-control"
                                           formaction="/Admin/Order/ShipOrder" formmethod="post" />
                                }
                            }
                            else
                            {
                                    <label class="btn btn-primary form-control">@Model.OrderHeader.OrderStatus</label>
                            }

                            @{
                                var OrderTotalForStripe = Model.OrderHeader.OrderTotal * 100;
                            }

                      
                          <button type="submit" value="Place Order" class="btn btn-success form-control">Pay Now</button>
                           


                            @if (Model.OrderHeader.OrderStatus != SD.StatusRefunded &&
                           Model.OrderHeader.OrderStatus != SD.StatusCancelled &&
                           (User.IsInRole(RoleConstants.Admin)))
                            {
                                    <div class="pt-2">
                                        <a asp-action="CancelOrder" asp-route-id="@Model.OrderHeader.Id"
                                       class="btn btn-danger form-control">Cancel Order</a>
                                    </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts{
        <partial name="_ValidationScriptsPartial" />
      

}